div {
  background-color: #38618C;
  color: white;
  font-family: 'Economica', Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 5px 10px;
  -webkit-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.56);
  box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.56);
}